@use "variables" as v;
@use "reset";

/*-------------FOOTER------------*/

h5 {
    font-size: 2rem;
    margin-left: 4rem;
    text-align: center;
}

footer {
    background-color: v.$green-pale;
    // height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    h2 {
        text-align: center;
    }
    .contactUs {
        ul {
            li {
                display: flex;

                img {
                    width: 5rem;
                    padding: 1rem;
                }
                p {
                }
            }
        }
    }

    .payment {
        img {
            width: 10rem;
            padding: 1rem;
        }
    }

    .followUs {
        margin: 1rem;

        a {
            img {
                width: 5rem;
                padding: 1rem;
            }
        }
    }
}
