//-------- Variables--------------
//--color--
$green-pale:#F3FADC;
$white: #ffffff;
$dark-gray:#5C606B;


//--font--
$logo-font: "Monsieur La Doulaise", cursive;
$title-font: 'Whisper', cursive;

//--breakpoint--
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;