@use "variables" as v;
@use "reset";
@use "mixin" as m;

.contactPage {
  

    form {
        background: url("../img/background/back.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h1 {
            @include m.title-mix;
            width: 90%;
            text-align: center;
        }
        .form-group {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: 600;
            input,
            textarea {
                border-radius: 2rem;
                background-color: v.$green-pale;
                border: 0.2rem solid v.$dark-gray;
                box-shadow: 0.5rem 0.5rem 1rem v.$dark-gray;
                padding: 1rem;
                font-family: v.$font-text;
            }
        }
        .submit {
            background-color: v.$green-pale;
            font-family: v.$font-text;
            font-size: 3rem;
            font-weight: 800;
            margin: 2rem;
            border-radius: 2rem;
            padding: 2rem;
            padding-right: 5rem;
            padding-left: 5rem;
            box-shadow: 1rem 1rem 1rem v.$dark-gray;
            &:hover {
                background-color: v.$dark-gray;
                color: v.$green-pale;
            }
        }
    }
}
