@use "variables" as v;
@use "reset";

/*-------------FOOTER------------*/

h5 {
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.wrapFoot {
    @media screen and (max-width: v.$sm-breakpoint) {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: v.$green-pale;
    width: 100%;
    display: flex;
    justify-content: space-around;
    .wrapFootSection {
        display: flex;
        flex-direction: row;
        width: 100%;
        .footSection {
            text-align: center;
            flex-basis: 45%;
            @media screen and (max-width: v.$sm-breakpoint) {
                width: 100%;
                margin-bottom: 1rem;
            }
            ul {
                margin-right: 3rem;
                span {
                    font-weight: 800;
                }
            }
            .network {
                display: flex;
                justify-content: space-between;
                img {
                    width: 100%;
                    padding: 1rem;
                }
            }
        }
    }
    .payment {
        img {
            width: 20%;

            padding: 1rem;
        }

        .copyright {
            display: flex;
            justify-content: center;
        }
    }
}

hr {
    width: 80%;
    margin-left: 10%;
}
