@use "variables" as v;
@use "reset";

/*-------------FOOTER------------*/

h5 {
    font-size: 1rem;
    margin-left: 4rem;
    text-align: center;
}

.wrapFoot {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;

    background-color: v.$green-pale;
    width: 100%;
    display: flex;
    justify-content: space-around;
    h2 {
        text-align: center;
    }
    .contactUs {
        text-align: center;
        margin-left: 0rem;
        width: 25%;
        img {
            width: 5rem;
            padding: 1rem;
        }
    }

    .payment {
        width: 25%;
        img {
            width: 20%;
          //  margin-left: 40%;
        }
        .copyright{
            display: flex;
    justify-content: center;

            img{
                width: 2rem;
                height: 2rem;
            }
        }
    }

    .followUs {
        width: 25%;
        // margin: 1rem;
        ul {
            li {
                text-align: left;
                span {
                    font-weight: 800;
                    margin-right: 2rem;
                }
            }
        }
    }
    .navFooter {
        width: 25%;
        text-align: center;
        a {
            color: v.$black;
        }
    }
}

.copyright {
    display: flex;
    justify-content: center;
    p {
    }
    img {
        width: 5rem;
        height: 5rem;
        margin: 1rem;
    }
}
hr {
    width: 80%;
    margin-left: 10%;
}
// .line {
//     width: 80%;
//     height: 0.1rem;
//     margin-left: 10%;
//     background-color: v.$black;
//     margin-top: 1rem;
//    // padding-top: 2rem;
// }
