@use "variables" as v;
@use "reset";

/*-----------HEADER---------*/
header {
    width: 100%;
    // .navBar {
    //     background-color: v.$green-pale;
    //     .menu {
    //     }
        // .socialNetworks {
        //     display: flex;
        //     justify-content: flex-end;
        //     flex-direction: row;
        //     margin: 1rem;
        //     a {
        //         display: flex;
        //         justify-content: flex-end;
        //         flex-direction: row;
        //         img {
        //             width: 5rem;
        //             padding: 1rem;
        //         }
        //     }
        // }
   // }

    .banner {
        background: url(../img/background/Banner8.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (max-width: v.$lg-breakpoint) {
         //   width: 50rem;
              
                }

        .wrapH1 {
            margin-top: 2rem;
            background-color: v.$white;
            box-shadow: 1rem 1rem 0.5rem v.$dark-gray;

            h1 {
                font-family: v.$logo-font;
                font-size: 5rem;
                line-height: 100%;
                padding-top: 1rem;
                margin: 0.5rem;
                width: 25rem;
                border: 0.5rem solid v.$dark-gray;
                color: v.$dark-gray;
                background-color: v.$white;
            }
        }

        h3 {
            color: v.$white;
            font-family: v.$title-font;
            font-size: 2rem;
            margin-top: 1rem;
            text-shadow: 0.3rem 0.3rem 0.2rem v.$dark-gray;
            letter-spacing: 0.25rem;
        }
    }
}
.navBar {
    display: flex;
    justify-content: space-around;


    background-color: v.$green-pale;
   // margin: 1rem;
    // width: 90%;
    // margin-left: 5%;
    @media screen and (max-width: v.$lg-breakpoint) {
flex-wrap: wrap;

  
    }

    a {
        padding-left: 5rem;
        margin: 1rem;
        color: v.$black;
        font-weight: 600;
        text-decoration:  overline;
       // text-decoration: overline;
       &:hover{
           color:white;
           text-shadow: 0.2rem 0.2rem 1rem v.$black;
       }
    }
}
.headerBottom {
    padding-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    img {
        width: 3rem;
        height: 3rem;
    
    }
    .h3 {
        font-size: 3rem;
        letter-spacing: 0.25rem;
        font-family: v.$body-title-font;
        font-size: 5rem;
       
        margin-top: 0;
    }
}
