@use "variables" as v;

@mixin title-mix {
    font-family: v.$body-title-font;
    font-size: 5rem;
    background-color: v.$green-pale-back;
    border-radius: 2rem;
    border: 0.5rem solid v.$green-pale;
    box-shadow: 1rem 1rem 1rem v.$color-shadow;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    @media screen and (max-width: v.$sm-breakpoint) {
        font-size: 3.5rem;
    }
}

@mixin no-margin {
    margin: 0;
    padding: 0;
}
