@use "variables" as v;
@use "reset";
@use "mixin" as m;

.products {
    background: url("../img/background/backgroundFloral.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5rem;

    h2 {
        @include m.title-mix;

        text-align: center;
    }
    h3 {
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
    }
 
    .wrapProducts {
        margin-top: 2rem;
        display: flex;
        text-align: center;
        h4 {
            font-size: 2rem;
        }
        a {
            width: 30%;
            color: v.$black;

            img {
                width: 20%;
            }
            p {
                margin-top: 1rem;
            }
        }
    }
}
