@use "variables" as v;
@use "reset";
@use "mixin" as m;

.productsView {
    background: url("../img/background/back");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5rem;
    max-width: 100%;
    h2 {
        @include m.title-mix;
        text-align: center;
        @media screen and (max-width: v.$md-breakpoint) {
            font-size: 3rem;
        }
    }
    h3 {
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
        background-color: v.$white;
        width: 60%;
        margin-left: 20%;
        border-radius: 2rem;
        padding: 1rem;
        @media screen and (max-width: v.$md-breakpoint) {
            font-size: 2rem;
            box-shadow: none;
            width: 90%;
            margin-left: 5%;
        }
    }

    .wrapProducts {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        width: 100%;

        .prod {
            border: 0.5rem solid v.$color-border;
            box-shadow: 1rem 1rem 1rem v.$color-shadow;
            background-color: v.$green-pale;
            border-radius: 2rem;
            margin: 3rem;
            width: 25%;
            padding: 3rem;
            text-align: center;
            @media screen and (max-width: v.$lg-breakpoint) {
                width: 25rem;
                margin: 1rem;
            }
            @media screen and (max-width: v.$sm-breakpoint) {
                width: 10rem;
                height: 13em;
                text-align: center;
                padding: 0;
            }
            h4 {
                font-size: 2.5rem;
                text-transform: uppercase;
                margin: 0;
                @media screen and (max-width: v.$sm-breakpoint) {
                    font-size: 1.2rem;
                    margin: 0;
                }
            }
            // a {
            //     color: v.$black;
            img {
                background-color: v.$white;
                border-radius: 50%;
                width: 100%;
                margin-bottom: 2rem;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
                @media screen and (max-width: v.$sm-breakpoint) {
                    width: 3rem;
                    margin: 1rem 0 1rem 0;
                }
                }
                &:hover img {
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }
                p {
                    margin-top: 1rem;
                    @media screen and (max-width: v.$sm-breakpoint) {
                        font-size: 1rem;
                        margin: 0;
                        max-width: 100%;
                        margin: 1rem 0.5rem 1rem 0.5rem;
                        text-align: center;
                    }
                }
            }
        }
    }
// }

.radient {
    width: 100%;
    height: 5rem;
    background: linear-gradient(to bottom, transparent, 50%, v.$green-pale-back);
}

.viewProducts {
    background: url("../img/background/backInv.png");
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    h1 {
        width: 80%;
        @include m.title-mix;
    }
    .view {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: v.$sm-breakpoint) {
            align-items: center;
        }
        .wrapImg {
            border: 1rem solid v.$green-pale;
            box-shadow: (0.5rem 0.5rem 1rem v.$color-shadow);
            background-color: white;
            background: url("../img/background/back.png");
            background-size: cover;
            width: 25rem;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            margin: 1rem;
            padding: 1rem;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            @media screen and (max-width: v.$sm-breakpoint) {
                width: 12rem;
                padding: 0;
                flex-direction: row;
            }

            img {
                border: 0.5rem solid v.$green-pale;
                border-radius: 2rem;
                @media screen and (max-width: v.$sm-breakpoint) {
                    width: 90%;
                    margin: 1rem 0.5rem 1rem 0.5rem;
                }
            }
            &:hover img {
                -webkit-filter: opacity(70%);
                filter: opacity(70%);
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
            }

            .txtView {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                border-radius: 2rem;
                margin: 1rem;
                padding: 1rem;
                color: v.$dark-gray;
                text-shadow: 0.1rem 0.1rem 0.5rem v.$color-shadow;
                background: url("../img/background/backInv.png");
                background-position: center;
                background-size: cover;
                @media screen and (max-width: v.$sm-breakpoint) {
                    margin: 0;
                    padding: 0;
                }
                h3 {
                    padding: 1rem;
                    border-radius: 2rem;
                    background-color: v.$white;
                    font-size: 1.5rem;
                }
                h4 {
                    border-radius: 2rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
.a {
    text-align: right;
    text-align: right;
    margin-right: 5%;
    margin-left: 90%;
    img {
        filter: invert(39%) sepia(17%) saturate(309%) hue-rotate(186deg) brightness(88%) contrast(84%);
        width: 3rem;
    }
}
