@use "variables" as v;
@use "mixin" as m;

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: v.$font-text;
    width: 100%;
    @include m.no-margin;
}

a {
    text-decoration: none;
    color: v.$black;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}

h1,
h2 {
    font-family: v.$title-font;
}

/*-------IMPORT---------*/

//FONT:
//Arizonia:
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");

// pinyon script
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

// ladoulaise
@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");

//whisper
@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");
