//-------- Variables--------------
//--color--
//$green-pale:#799475;
$green-pale:#F3FADC;
//$green-pale:#bee9aa;
$white: #ffffff;
$dark-gray:#5C606B;
$black:#000000;
$color-shadow:#728572;
$color-border:#e9ecdf;


//--font--
$logo-font: "Monsieur La Doulaise", cursive;
$title-font: 'Whisper', cursive;
$body-title-font:  'Arizonia', cursive;
$font-text: 'Playfair Display', serif;


//--breakpoint--
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;