@use "variables" as v;
@use "reset";
@use "mixin" as m;

.whoIAmPage {
    background: url("../img/background/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5rem;
    text-align: center;
    img {
        width: 50%;
        box-shadow: 1rem 1rem 1rem v.$dark-gray;
        border: 2rem solid v.$green-pale;
        @media screen and (max-width: v.$md-breakpoint) {
            border: 1rem solid v.$green-pale;
            width: 100%;
        }
    }
    h1 {
        @include m.title-mix;
    }
    p {
        margin: 5rem 15rem 5rem 15rem;
        font-size: 2rem;
        @media screen and (max-width: v.$md-breakpoint) {
            margin: 2rem;
            font-size: 1.7rem;
        }
    }
}
